<h1>Digimon Update Form</h1>
<form action="/digimons/<%= @digimon.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <h2>Edit:</h2>
  <p>Name:</p>
  <input type='text' name='name' value="<%= @digimon.name %>"/><br/>
  <br> 
  <p>Kind:</p>
  <input type='text' name='kind' value="<%= @digimon.kind %>"/><br/>
  <br> 
  <p>Starter?</p>
  <pre> <input type='radio' id="true" name='starter' value="true" checked="<%= @digimon.starter %>"/>    <input type='radio' id="false" name='starter' value="false" checked="<% !@digimon.starter %>"/></pre>
  <pre><label for="true">True</label>  <label for="false">False</label></pre>
  <br>
  <p>Wins:</p>
  <input type='text' name='wins' value="<%= @digimon.wins %>"/><br/>
  <br>
  <p>Trainer Name:</p>
  <p> <%= @digimon.trainer.name %> <p>
  <br> 
  <input type='submit' value="Submit"/>
</form>