<h1>Edit Digimon</h1>
<%= form_with url: "/digimons/#{@digimon.id}", method: :patch, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, value: @digimon.name %><br><br>
    <%= form.label :kind %>
    <%= form.text_field :kind, value: @digimon.kind %><br><br>
    <%= form.label :starter? %><br><br>
    <%= form.label :starter, "True", :value => 'true'%>
    <%= form.radio_button :starter, "true", :checked => @checked_true %> 
    <%= form.label :starter, "False", :value => 'false'%>
    <%= form.radio_button :starter, "false", :checked => @checked_false %><br><br>
    <%= form.label :wins %>
    <%= form.text_field :wins, value: @digimon.wins %><br><br>
    <%= form.submit 'Update Digimon' %>
<% end %>