<h1><%= @digimon.name %></h1>
<h4><a href="/digimons/<%= @digimon.id %>/edit">Update Digimon</a></h4>
<p> Kind: <%= @digimon.kind %> Starter: <%= @digimon.starter %> Wins: <%= @digimon.wins %> Trainer: <%= @digimon.trainer.name %> Created on: <%= @digimon.created_at %> Last Updated: <%= @digimon.updated_at %></p>
<h4>
  <form action="/digimons/<%= @digimon.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
</h4>