<h1> <%= @trainer.name %>'s Digimon: </h1>
<h4> <span> <%= link_to "Sort Alphabatically",  :sort => "name" %> </span> 
<span> 
<%= form_for :min_wins, method: :get do %>
  <%= label_tag "min_wins" %>
  <%= number_field_tag "min_wins" %>
  <%= submit_tag "Filter" %>
<% end %>
</span>
</h4>
<% @digimons.each do |digimon| %>
 <p> Name: <%= digimon.name %> </p> 
 <p> Kind: <%= digimon.kind %> </p>
 <p> Starter: <%= digimon.starter %> </p>
 <p> Wins: <%= digimon.wins %> </p>
 <p> Trainer: <%= digimon.trainer.name %> </p>
 <p> Created on: <%= digimon.created_at %> </p>
 <p> Last Updated: <%= digimon.updated_at %> </p>
 <br>
<% end %>

<h3><a href="/trainers/<%= @trainer.id %>/digimons/new">Add New Digimon</a></h3>