<h1>New Digimon Submission Form</h1>
<%= form_with url: "/trainers/#{@trainer.id}/digimons", method: :post, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %><br><br>
    <%= form.label :kind %>
    <%= form.text_field :kind %><br><br>
    <%= form.label :starter? %><br><br>
    <%= form.label :starter, "True", :value => 'true'%>
    <%= form.radio_button :starter, "true" %> 
    <%= form.label :starter, "False", :value => 'false'%>
    <%= form.radio_button :starter, "false" %><br><br>
    <%= form.label :wins %>
    <%= form.text_field :wins %><br><br>
    <%= form.submit 'Create Digimon' %>
<% end %>