<h1>New Trainer Submission Form</h1>
<%= form_with url: "/trainers", method: :post, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %><br><br>
    <%= form.label :age %>
    <%= form.text_field :age %><br><br>
    <%= form.label :tutorial_completed? %><br><br>
    <%= form.label :tutorial_completed, "True", :value => 'true'%>
    <%= form.radio_button :tutorial_completed, "true" %> 
    <%= form.label :tutorial_completed, "False", :value => 'false'%>
    <%= form.radio_button :tutorial_completed, "false" %><br><br>
    <%= form.submit 'Create Trainer' %>
<% end %>